html {
  background-color: rgb(0, 0, 0);
  color: lavender;
  display: grid;
}

.goal-container {
  font-weight: 900;
  display: block;
  text-align: center;
}

.gameplay-container {
  display: flex;
}

iframe {
  background-color: aqua;
}
